* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

/* Regole di stile per l'intestazione */
header {
	padding: 6px 8px;
	height: 40px;
	background-color: white;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: black;
}

.infobox {
    padding: (100dvh - 40px);
	height: calc(100dvh);
    background-color: whitesmoke;
    overflow-y: auto;
}

.argument {

}

.image {

}

.picture {

}

.description {

}

.comment {

}