* {
	margin: 10;
	padding: 10;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

/* Regole di stile per l'intestazione */
header {
	padding: 6px 8px;
	height: calc(100dvh - 90);
	background-color: white;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

.second-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.imagebox {
	padding: 8px 32px;
}

.images {
	height: 300px;
	width: 250px;
}

.img-description {
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
	font-size: small;
}

.comment {
	margin: 20px -20px;
}